@scripts = {
<script type="text/javascript" src="@routes.Assets.at("javascripts/typeahead.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/app.js")"></script>
}


@main("Home Page", scripts) {
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Manage Products</h3></div>

                <div class="well well-sm">
                    <input type="number" class="form-control"
                           id="product_id" placeholder="Enter Product Id...">
                </div>

                <div class="well well-sm">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="id" class="col-sm-2 control-label">ID</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" disabled="" id="id" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">Title</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control save-on-change" id="title" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="price" class="col-sm-2 control-label">Price</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control save-on-change" id="price" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="cost" class="col-sm-2 control-label">Cost</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" disabled="" id="cost" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
}
